.container {
    margin: 0 15px;
}

.justify_content {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

#table {
    width: 100%;
    border-collapse: collapse;

    & th, & td {
        border: 1px solid black;
        padding: 8px;
    }
}

.row {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.text_familly {
    font-family: "Noelan";
}

.text_decoration {
    text-decoration: underline;
    font-weight: bold;
}

.text_center {
    border: 1px solid black;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 1rem;
}

.header_css_image {
    width: 100%;
    height: auto;
}

.footer_css {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

@media (max-width: 768px) {
    .justify_content {
        flex-direction: column;
        gap: 1rem;
    }

    .row {
        margin-left: 0;
    }

    .text_center {
        width: 90%;
    }
}
